Package                           Version
--------------------------------- --------------------
absl-py                           1.4.0
adjustText                        0.7.3
aiofiles                          22.1.0
aiohttp                           3.8.4
aiosignal                         1.3.1
aiosqlite                         0.18.0
alabaster                         0.7.13
altair                            5.0.0
anndata                           0.9.2
anndata2ri                        1.1
annoy                             1.17.1
ansiterm                          1.1
antlr-denter                      1.3.1
antlr4-python3-runtime            4.9.3
anyio                             3.6.2
appdirs                           1.4.4
arboreto                          0.1.6
argon2-cffi                       21.3.0
argon2-cffi-bindings              21.2.0
arrow                             1.2.3
arviz                             0.14.0
asttokens                         2.2.1
astunparse                        1.6.3
async-lru                         2.0.4
async-timeout                     4.0.2
attrs                             23.1.0
automata-lib                      8.0.0
autopep8                          2.0.1
Babel                             2.12.1
backcall                          0.2.0
backports.functools-lru-cache     1.6.4
bandit                            1.7.2
batchglm                          0.7.4
bbknn                             1.5.1
beautifulsoup4                    4.12.2
binaryornot                       0.4.4
BiocFrame                         0.2.6
biopython                         1.81
bioservices                       1.10.0
bleach                            6.0.0
blessed                           1.20.0
blinker                           1.6.2
bokeh                             3.4.1
boltons                           21.0.0
Bottleneck                        1.3.7
brewer2mpl                        1.4.1
brotlipy                          0.7.0
cached_method                     0.1.0
cached-property                   1.5.2
cachetools                        5.3.0
cell2cell                         0.6.8
CellphoneDB                       4.0.0
cellrank                          1.5.1
celltypist                        1.5.0
certifi                           2023.5.7
cffi                              1.15.0
cftime                            1.6.2
chardet                           5.1.0
charset-normalizer                2.0.4
chex                              0.1.7
click                             8.1.3
cloudpickle                       2.2.1
colorama                          0.4.6
colorcet                          3.0.1
colorlog                          6.7.0
comm                              0.1.3
commonmark                        0.9.1
conda-pack                        0.6.0
contextlib2                       21.6.0
contourpy                         1.2.0
cookiecutter                      2.1.1
croniter                          1.3.8
cryptography                      38.0.4
ctxcore                           0.2.0
custom-inherit                    2.4.1
cycler                            0.11.0
Cython                            0.29.34
cytoolz                           0.12.0
daal4py                           2023.1.1
dask                              2022.9.2
dask-labextension                 6.1.0
dataclasses                       0.8
dateutils                         0.6.12
debugpy                           1.6.7
decorator                         5.1.1
decoupler                         1.6.1
deepdiff                          6.3.0
defusedxml                        0.7.1
Deprecated                        1.2.13
diffxpy                           0.7.4
dill                              0.3.5.1
distlib                           0.3.6
distributed                       2022.9.2
dm-tree                           0.1.7
dnspython                         2.3.0
docrep                            0.3.2
docutils                          0.20
dunamai                           1.16.0
easydev                           0.12.0
email-validator                   1.3.1
entrypoints                       0.4
et-xmlfile                        1.1.0
ete3                              3.1.2
etils                             1.3.0
exceptiongroup                    1.0.4
executing                         1.2.0
fa2                               0.3.5
fastapi                           0.88.0
fastcluster                       1.2.6
fastjsonschema                    2.16.3
fbpca                             1.0
filelock                          3.10.0
fire                              0.4.0
fisher                            0.1.9
flatbuffers                       23.1.21
flax                              0.6.4
flit_core                         3.8.0
fonttools                         4.39.4
forceatlas2-python                1.1
fqdn                              1.5.1
frozendict                        2.3.4
frozenlist                        1.3.3
fsspec                            2023.5.0
future                            0.18.3
gast                              0.4.0
GenomicRanges                     0.2.7
geosketch                         1.2
get_version                       3.5.4
gevent                            22.10.2
gitdb                             4.0.10
GitPython                         3.1.31
google-auth                       2.18.0
google-auth-oauthlib              1.0.0
google-pasta                      0.2.0
gprofiler-official                1.0.0
graph-tools                       1.11
greenlet                          2.0.2
grequests                         0.6.0
grpcio                            1.51.3
gseapy                            1.1.2
h11                               0.14.0
h5py                              3.1.0
harmony                           1.2.3360
harmonypy                         0.0.9
HeapDict                          1.0.1
holoviews                         1.19.0
hotspotsc                         1.1.1
html5lib                          1.1
httpcore                          1.0.5
httptools                         0.5.0
httpx                             0.27.0
idna                              3.4
igraph                            0.10.4
imagecodecs                       2021.8.26
imageio                           2.3.0
imagesize                         1.4.1
importlib-metadata                6.6.0
importlib-resources               5.12.0
inflect                           6.0.4
iniconfig                         1.1.1
inquirer                          3.1.3
install                           1.3.5
interlap                          0.2.7
intervaltree                      2.1.0
ipykernel                         6.23.0
ipython                           8.13.2
ipython-genutils                  0.2.0
ipywidgets                        8.0.6
isoduration                       20.11.0
itsdangerous                      2.1.2
jax                               0.4.6
jaxlib                            0.4.6
jaxopt                            0.6
jedi                              0.18.2
Jinja2                            3.0.3
jinja2-time                       0.2.0
joblib                            1.2.0
json5                             0.9.11
jsonpointer                       2.3
jsonschema                        4.22.0
jsonschema-specifications         2023.12.1
jupyter_client                    8.2.0
jupyter-contrib-core              0.4.2
jupyter_core                      5.2.0
jupyter-events                    0.10.0
jupyter-highlight-selected-word   0.2.0
jupyter-lsp                       2.2.5
jupyter-nbextensions-configurator 0.6.1
jupyter_server                    2.14.1
jupyter_server_fileid             0.8.0
jupyter-server-proxy              3.2.2
jupyter_server_terminals          0.4.4
jupyter_server_ydoc               0.6.1
jupyter-ydoc                      0.2.2
jupyterlab                        4.2.2
jupyterlab-pygments               0.2.2
jupyterlab_server                 2.27.2
jupyterlab-topbar                 0.6.1
jupyterlab-widgets                3.0.7
kaleido                           0.2.1
keras                             2.12.0
keras-nightly                     2.13.0.dev2023030208
Keras-Preprocessing               1.1.2
kiwisolver                        1.4.4
kneed                             0.8.3
ktplotspy                         0.1.10
legacy-api-wrap                   0.0.0
leidenalg                         0.9.1
liana                             0.1.8
libclang                          15.0.6.1
lightning                         2.0.0
lightning-cloud                   0.5.32
lightning-utilities               0.7.0
linkify-it-py                     2.0.3
llvmlite                          0.39.1
locket                            1.0.0
loompy                            3.0.6
louvain                           0.7.1
lxml                              4.9.1
Markdown                          3.4.3
markdown-it-py                    2.2.0
MarkupSafe                        2.1.2
matplotlib                        3.8.3
matplotlib-inline                 0.1.6
matplotlib-venn                   0.11.9
mdit-py-plugins                   0.4.1
mdurl                             0.1.2
mglearn                           0.2.0
mistune                           2.0.5
mizani                            0.8.1
mkl-fft                           1.3.1
mkl-random                        1.2.2
mkl-service                       2.4.0
ml-collections                    0.1.1
ml-dtypes                         0.1.0
mock                              5.0.2
mofax                             0.3.6
mplscience                        0.0.7
mpmath                            1.3.0
msgpack                           1.0.5
mudata                            0.2.2
MulticoreTSNE                     0.1
multidict                         6.0.4
multipledispatch                  0.6.0
multiprocessing-on-dill           3.5.0a4
munkres                           1.1.4
muon                              0.1.3
natsort                           8.3.1
nbclassic                         0.5.3
nbclient                          0.7.4
nbconvert                         7.4.0
nbformat                          5.8.0
nbresuse                          0.4.0
nest-asyncio                      1.5.6
netCDF4                           1.6.3
networkx                          3.1
newick                            1.0.0
nodejs                            0.1.1
notebook                          7.2.1
notebook_shim                     0.2.2
nsforest                          3.9.2.5
numba                             0.56.4
numexpr                           2.8.3
numpy                             1.23.5
numpy-groupies                    0.9.22
numpyro                           0.10.1
oauthlib                          3.2.2
olefile                           0.46
omnipath                          1.0.6
openpyxl                          3.1.2
opt-einsum                        3.3.0
optax                             0.1.5
optional-django                   0.1.0
orbax                             0.1.2
ordered-set                       4.1.0
orjson                            3.8.8
ott-jax                           0.4.0
overrides                         7.7.0
packaging                         23.1
palettable                        3.3.3
pandas                            1.5.3
pandocfilters                     1.5.0
panel                             1.4.4
param                             2.1.0
parso                             0.8.3
partd                             1.4.0
patsy                             0.5.3
pbr                               5.11.1
pcurvepy2                         0.1.5
pdfkit                            1.0.0
perlcompat                        1.1
pertpy                            0.4.0
pexpect                           4.8.0
pickleshare                       0.7.5
Pillow                            9.5.0
pip                               23.1.2
pkgutil_resolve_name              1.3.10
platformdirs                      3.1.0
plotly                            5.14.1
plotnine                          0.10.1
pluggy                            1.0.0
ply                               3.11
pooch                             1.7.0
preamble                          0.0.4
prettytable                       3.10.0
progressbar2                      4.2.0
prometheus-client                 0.16.0
prompt-toolkit                    3.0.38
protobuf                          4.23.0
psutil                            5.9.5
ptyprocess                        0.7.0
pure-eval                         0.2.2
pyarrow                           9.0.0
pyasn1                            0.4.8
pyasn1-modules                    0.2.7
pycodestyle                       2.10.0
pycparser                         2.21
pyct                              0.4.6
pydantic                          1.10.6
pyDeprecate                       0.3.2
pydot                             1.4.2
pyecharts                         2.0.6
pygam                             0.8.0
Pygments                          2.15.1
pygpcca                           1.0.4
PyJWT                             2.7.0
pynndescent                       0.5.10
Pyomo                             6.5.0
pyOpenSSL                         23.1.1
pyparsing                         3.0.9
pypi-latest                       0.1.2
pypng                             0.20220715.0
PyQt5                             5.15.9
PyQt5-Qt5                         5.15.2
PyQt5-sip                         12.11.1
pyro-api                          0.1.2
pyro-ppl                          1.8.4+9ed468d
pyrsistent                        0.19.3
pySankey                          0.0.1
pyscenic                          0.12.1
pyslingshot                       0.1.3
PySocks                           1.7.1
Pytess                            1.0.0
pytest                            7.2.0
python-circos                     0.3.0
python-dateutil                   2.8.2
python-dotenv                     1.0.0
python-editor                     1.0.4
python-igraph                     0.10.4
python-json-logger                2.0.7
python-multipart                  0.0.6
python-slugify                    8.0.1
python-utils                      3.4.5
pytorch-lightning                 1.7.7
pytz                              2023.3
pytz-deprecation-shim             0.1.0.post0
pyu2f                             0.1.5
pyviz_comms                       3.0.2
PyWavelets                        1.4.1
PyYAML                            5.4.1
pyzmq                             25.0.0
questionary                       1.10.0
radian                            0.6.4
ray                               2.3.0
rchitect                          0.3.39
readchar                          4.0.5
referencing                       0.35.1
reportlab                         3.6.12
requests                          2.32.3
requests-cache                    0.4.13
requests-oauthlib                 1.3.1
rfc3339-validator                 0.1.4
rfc3986                           1.5.0
rfc3986-validator                 0.1.1
rich                              13.3.2
rpds-py                           0.18.1
rpy2                              3.5.1
rsa                               4.9
sc-toolbox                        0.12.1
scanorama                         1.7.1
scanoramaCT                       1.2.0
scanpy                            1.9.3
SCCAF                             0.0.10
scCODA                            0.1.9
scdrs                             1.0.2
scHPL                             1.0.2
scib                              1.1.3
scikit-image                      0.19.3
scikit-learn                      0.24.0
scikit-learn-intelex              20230426.134916
scikit-misc                       0.1.4
scipy                             1.10.1
scrublet                          0.2.3
scvelo                            0.2.4
scvi-tools                        0.19.0
seaborn                           0.13.2
Send2Trash                        1.8.2
session-info                      1.0.0
setuptools                        67.6.0
setuptools-scm                    7.1.0
simpervisor                       0.4
simplejson                        3.19.2
sinfo                             0.3.1
SingleCellExperiment              0.2.4
sip                               4.19.13
six                               1.16.0
smmap                             5.0.0
sniffio                           1.3.0
snowballstemmer                   2.2.0
sortedcontainers                  2.4.0
soupsieve                         2.3.2.post1
sparse                            0.9.1
sparsecca                         0.3.0
speedtest-cli                     2.1.3
Sphinx                            7.0.1
sphinx_autodoc_typehints          1.22
sphinxcontrib-applehelp           1.0.4
sphinxcontrib-devhelp             1.0.2
sphinxcontrib-htmlhelp            2.0.1
sphinxcontrib-jsmath              1.0.1
sphinxcontrib-qthelp              1.0.3
sphinxcontrib-serializinghtml     1.1.5
stack-data                        0.6.2
starlette                         0.22.0
starsessions                      1.3.0
statannotations                   0.5.0
statsmodels                       0.14.0
stdlib-list                       0.8.0
stevedore                         5.0.0
style                             1.1.0
suds-community                    1.1.2
SummarizedExperiment              0.2.2
switchlang                        0.1.0
sympy                             1.11.1
tables                            3.6.1
tabulate                          0.9.0
tbdump                            1.4
tblib                             1.7.0
tenacity                          8.2.2
tensorboard                       2.12.3
tensorboard-data-server           0.7.0
tensorboard-plugin-wit            1.8.1
tensorboardX                      2.6
tensorflow                        2.12.0
tensorflow-estimator              2.12.0
tensorflow-io-gcs-filesystem      0.31.0
tensorflow-probability            0.20.0
tensorly                          0.8.1
tensorstore                       0.1.32
termcolor                         2.3.0
terminado                         0.17.1
text-unidecode                    1.3
texttable                         1.6.7
tf-estimator-nightly              2.13.0.dev2023030209
tfp-nightly                       0.20.0.dev20230302
threadpoolctl                     3.1.0
tifffile                          2021.4.8
tinycss2                          1.2.1
tomli                             2.0.1
toolz                             0.12.0
torch                             2.0.1
torchmetrics                      0.11.1
torchvision                       0.15.2
tornado                           6.3
toyplot                           1.0.3
toytree                           2.0.1
tqdm                              4.65.0
traitlets                         5.9.0
typing_extensions                 4.5.0
tzdata                            2022.4
tzlocal                           4.2
uc-micro-py                       1.0.3
ujson                             5.7.0
umap-learn                        0.5.3
unicodedata2                      15.0.0
update                            0.0.1
UpSetPlot                         0.9.0
uri-template                      1.2.0
urllib3                           1.26.15
uvicorn                           0.21.1
uvloop                            0.17.0
virtualenv                        20.21.0
watchfiles                        0.18.1
wcwidth                           0.2.6
webcolors                         1.12
webencodings                      0.5.1
websocket-client                  1.8.0
websockets                        10.4
Werkzeug                          2.3.4
wheel                             0.40.0
widgetsnbextension                4.0.7
wordcloud                         1.9.3
wrapt                             1.14.1
xarray                            2023.3.0
xarray-einstats                   0.5.1
xlrd                              2.0.1
xmltodict                         0.13.0
xyzservices                       2024.6.0
y-py                              0.5.9
yapf                              0.32.0
yarl                              1.9.1
ypy-websocket                     0.8.2
zict                              2.2.0
zipp                              3.15.0
zope.event                        4.6
zope.interface                    6.0
